{% extends 'main/base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <img src="{{ movie.image }}" alt="{{ movie.name }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3 class="text-center">
                    {{ movie.name }}
                </h3>
                <p>{{ movie.description }}</p>
                <h5>Director: {{ movie.director }}</h5>
                <h5>Cast: {{ movie.cast }}</h5>
                <h5>Rating: {{ movie.averageRating }}</h5>

                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url 'main:edit_movies' movie.id %}" class="btn btn-warning">Edit Movie</a>
                        <a href="{% url 'main:delete_movie' movie.id %}" class="btn btn-danger">Delete Movie</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}